/*common shared style*/
body{
    font-family: 'Open Sans', sans-serif;
}
/* nav related styles */
nav{
    display:flex;
    justify-content: space-between;
   align-items:center ;
   margin:0px 200px;
}
nav >ul{
   
    display:flex;
    align-items: center;
   
}
nav li{
    list-style: none;
    margin-right: 50px;
   

}

nav a{
    text-decoration: none;
    color:#474747;
}
.nav-title{
    color:  #181818;


font-size: 45px;

font-weight: 800;
line-height: normal;
}
.text-primary{
  color:  #FD6E0A;
}
.btn-primary{
    border-radius: 5px;
background: #FD6E0A;
border:0;
color:white;
font-size: 20px;
font-weight: 700px;
padding:15px  35px ;
margin-right: 30px;

}
header{
    background-color: #FFF8F3;
   background-image: url('../images/developer.png');
   
    background-repeat: no-repeat;
    background-position: top left ;
    background-size: auto;
  
}
.banner{
    padding:30px 30px 0px 150px;
    display:flex;
 align-items: center;
 justify-content: space-between;

}
.banner-content{
    max-width: 500px;
}
.banner .profile-pic{
   
   background-image: url("../images/header_bg.png");
   
   width: 1036px;
height: 518px;

}
.banner-greeting{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0px;
}
.banner-title{
    color: #181818;
    font-size: 80px;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-para{
    font-size: 16px;
    margin-bottom: 30px;
}
/*main section styles*/
main{
    max-width: 1140px;
    margin:0 auto;
}
main section{
    margin-top: 100px;
}
.about{
    padding: 130px;
    border-radius: 10px;
background: #FFF8F3;
margin:130px 0;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;;
}


/* about section */
.about{
    padding: 130px;
    border-radius: 10px;
background: #FFF8F3;
margin:130px 0;
}
.section-title{
    color:  #181818;
text-align: center;

font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.section-description{
    color:  #757575;
text-align: center;

font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; 
}

/* what I do related styles */
#What-I-do_description{
    
    padding:30px 150px;
}
.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    
    padding: 30px;
    border-radius: 5px;
background: #FFF;
box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
   
}
.skil-description{
    color: 757575;
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px; 
}
.resume-column-title{
color: #474747;

font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.resume-container{
    display: flex;
    gap:50px;
}
.resume-item-institute, .resume-item-description{
    color:  #757575;

font-size: 16px;

font-weight: 400;

}
.resume-item-title{
    color:  #474747;
font-size: 25px;

font-weight: 700;
margin-bottom: 5px;

}
.resume-item-institute{
    margin-top: 0px;
    margin-bottom: 20px;
}
.resume-container hr{
    margin:30px;
}
.download-cv{
    margin-top: 50px;
    text-align: center;
}
/* footer style */
footer{
  display: flex;
  gap:100px;
 background: #FFF8F3;
 padding: 130px 200px;
 margin-top: 100px;
}
.footer-column{
    width: 50%;;
}
.social-links a{
    margin-right: 24px;
}
.contact input[type="text"],.contact input[type="email"],textarea{
    color: #757575;
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    border-radius: 5px;
    border:0;
    width: 100%;
    
}

input{
    margin-bottom: 24px;
}
Submit{
    border-radius: 5px;
background: #FD6E0A;
} 